body {background-color: #8888AA}

h1 {color: White; font: 40pt "Basic Sans Light SF";}
h2 {font: 27pt "Basic Sans Light SF"}
h3 {font: 18pt "Basic Sans Light SF"}
h4 {font: 16pt "Basic Sans Light SF"}
h6 {font: 14pt "Basic Sans Light SF"}
A:link {color: #5555dd}
A:active {color: #5555dd}
A:visited {color: #5555dd} 
img {
    width:auto;
    max-width:90%;
    height:auto;
}

