*{
    background-color: coral;
    color:aquamarine;
}
h3 {
    font-size: 43px;
    font-family: rubbish,arial,helvetica,sans-serif;
    font-weight: normal;
    text-transform:capitalize;
}

h3 article {
    font-size: 16px;
    text-transform: none;
    color: #3020ff;
    background-color: #999999;
}

h3 article p{
    font-size: 2em;
}
h3 article p a{
    font-size: 60%;
}

span{
    display:block;
}
#main-content > p{
    color:red;
}

#main-content h3 + p {
    color:green;
}

span[class~=deck] {
    color: purple
}

div[id]{
    background-color: yellow;
}

a[title="this"]{
    color: orange
}

a[href$="pdf"]{
    color: grey
}
a[href^="dfk"]{
    color: plum
}

a:visited{
    color:yellow;
}
a:hover{
    color: red;
    font-weight: bold;
}
a:active{
    color: orange;
    font-weight: bold;
}


#main-content:hover {
    background-color: blueviolet;
}


article p:first-of-type {
    color:green;
    font-weight: bold;
}

article p:last-of-type {
    color:red;
    font-weight: bold;
}

ul li:nth-child(2), li:nth-child(5){
    color:lawngreen
}

ul li:nth-child(odd){
    background-color: grey;
}
ul li:nth-child(even){
    background-color: pink;
}

ul li:nth-child(3n+1){
    color:white
}

p:nth-of-type(2){
    background-color: brown;
}

div.demo{
    background-color: aquamarine;
}