span{
    display:block;
}
#main-content > p{
    color:red;
}

#main-content h3 + p {
    color:green;
}

span[class~=deck] {
    color: purple
}

div[id]{
    background-color: yellow;
}

a[title="this"]{
    color: orange
}

a[href$="pdf"]{
    color: pink
}
a[href^="dfk"]{
