.buttony{
    box-shadow: 5px 5px 5px 0px rgba(40, 40, 40, 0.75);
    padding: 12px;
    color: #fff;
    background: rgb(234, 35, 4);
    background: linear-gradient(bottom right, rgb(234, 35, 4) 0%, rgb(33, 0, 165) 100%);
    background: -moz-linear-gradient(bottom right, rgb(234, 35, 4) 0%, rgb(33, 0, 165) 100%);
    background: -webkit-linear-gradient(bottom right, rgb(234, 35, 4) 0%, rgb(33, 0, 165) 100%);
    
}



.buttony:hover{
    background: linear-gradient(top left, rgb(234, 35, 4) 0%, rgb(33, 0, 165) 100%);
    background: -moz-linear-gradient(top left, rgb(234, 35, 4) 0%, rgb(33, 0, 165) 100%);
    background: -webkit-linear-gradient(top left, rgb(234, 35, 4) 0%, rgb(33, 0, 165) 100%);
}
}

#banner{
    background: #ea2304;
    width: 100%;
    height: 300px;
    background-image: url(http://www.katemcbride.co.uk/k_thumbs/kmcb2014-31.jpg), 
                      url(http://www.katemcbride.co.uk/k_thumbs/KMB20073.jpg);
    background-repeat: no-repeat;
    background-position: center,top left; */
}


/* p {
    font-size: 14px;
    letter-spacing: 0.2em;
    word-spacing: 0.5em;
    line-height: 1.2em;
    margin-bottom: 32px;
} */
.bg{
    width: 300px;
      height: 300px;
      /* 
      background-image: url(http://www.katemcbride.co.uk/k_images/potdrawing.JPG);
      background-repeat: no-repeat;
      background-size: 25%;
      background-position: 45% center; */
      background: rgba(96,96,96,.5) url(http://www.katemcbride.co.uk/k_images/potdrawing.JPG) no-repeat top center;
      /* background-color: #606060; */
      background-size: 25%;
      position: absolute;
      left: 100px;
      top: 100px;
      }
p.box{
    border: 2px solid red;
    border-top-width: 5px;
    border-top-style:;
    border-top-color: blue;

    /* better */
    border-top: 1px solid blue;
    border-bottom: 5px double green;
    border-left: 2px inset black;
    border-right: 2px dashed black;

    border: 20px blue ridge;
    /* same deal as margin */
    padding: 30px;
    /* clockwise from the top */
    /* margin: 30px 20px 15px 5px; */
    /* top&bottom, left&right */
    /* margin: 30px 15px; */
    
    width: 400px;
    /* height: 200px; */
    /* margin-top: 20px;
    margin-bottom: 5px; */
    margin: 30px auto;
    text-align: center;
}

div.box{
      color: green;
      border: 1px solid black;
      padding: 10px;
      margin: 10px;
      width: 50%;
      height: 30px;
      border-radius: 10px 20px 30px 40px;
}

span.inline{
    color: red;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    /* display: block; */
    display: inline-block;
    width: 40%;
    border-radius: 10px 40px;

}

a {
    padding: 10px;
    margin: 10px;
    background-color: #ccc;
    border: 1px solid #aaa;
    text-decoration: none;
    display: inline-block;
}

.circle{
    border: 2px solid black;
    border-radius: 4px;
    height: 80px;
    width: 80px;
    background-color: aquamarine;
}